<section id="início">
    <div class="container__card">
      <div class="container__menor">
        <header>
          <h4>Hello world 👋🏾</h4>
          <h1>Eu sou Silvio,</h1>
        </header>
        <div class="content">
          <p class="line typing">Desenvolvedor Web Full Stack.</p>
          
        </div>
      </div>
      
      <div class="col-b">
        <img
          src="assets/images/full-m2H7d3H7K9G6H7K9.png"
          alt="HTML, CSS e JavaScript"
          id=""
        />
      </div>
    </div>

  </section>