<section id="sobre-mim">
  <div class="container__conteudo">
    <div class="col-a">
      <img
        src="./assets/images/1670516629590.jpeg"
        alt="Imagem de Silvio sério olhando para câmera"
      />
    </div>

    <div class="col-b">
      <header>
        <h1>Sobre mim</h1>
      </header>
      <div class="container__card">
        <p>
          Me chamo Silvio, graduando no curso de <br />
          Análise e Desenvolvimento de sistemas na Unisuam. <br />

          Atualmente, estou me dedicando ao estudo <br />
          de ferramentas de desenvolvimento front-end e back-end <br />
          com a finalidade de me tornar um desenvolvedor full-stack.<br />
          Procuro um estágio na área de desenvolvimento para <br />
          aprimorar as minhas habilidades e me tornar um excelente profissional.
        </p>
      </div>
    </div>
  </div>
</section>
