h1 {
    text-align: center;
    margin-top: 13%;
    padding-top: 5%;
}

.container__paragrafo {
    width: 100%;
    text-align: left;
    overflow-y: scroll;
    padding-right: 5px;
}

.container__conhecimentos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20%;
}

.container__card img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.container__card {
    width: 250px;
    height: 305px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background: #4e4c4c;
    color: #fff;
    margin: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.container__card p {
    padding: 0 10px;
    color: white;
    text-align: left;
    overflow-wrap: break-word;
    margin-bottom: 10px;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #4e4c4c;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

@media (max-width: 1474) {
 
}


@media (max-width: 768px) {
    .container__conhecimentos {
      flex-direction: column; /* Organiza os cards em uma coluna única */
      align-items: center; /* Centraliza os cards horizontalmente */
    }
  
    .container__card {
      width: 90%; /* Ajusta a largura dos cards para telas menores */
      margin: 10px 0; /* Adiciona espaço acima e abaixo de cada card */
    }
  
    .container__card img {
      width: 80px; /* Ajusta o tamanho das imagens dentro dos cards */
      height: 80px; /* Mantém as imagens proporcionais */
    }
  }
