<div class="container__conteudo">
 <div class="articles__apresentacao">

   <app-inicio></app-inicio>

 </div>
  <div class="container__sobre-mim">
    
    
    <app-sobre-mim></app-sobre-mim>
  
  </div>
  <div class="container__projetos">
    
    
    <app-projetos></app-projetos>

    
  </div>
  <div class="container__conhecimentos">
    
    <app-conhecimentos></app-conhecimentos>


    
  </div>
  <!-- <div class="container__fale-comigo">
    
    
    <app-fale-comigo></app-fale-comigo>

    
  </div> -->
</div>

